cropped_imgs
cropped_imgs_*
valis_process
*.jpg
*.png
.ipynb_checkpoints
*.pyc
**/__pycache__/
**/*.pyc
**/**/.ipynb_checkpoints
cropped.tar.gz
BFIW_original
block_new.tar.gz
block.tar.gz
cufile.log
wandb
train_block_out.tar.gz
rf_model.tl
train_block.tar.gz
flask_session
bfiw_reg/pixel_classifier.pkl
213_BFIW
pixel_classifier.pkl
rf_trained.tar.gz
aff_reg/transforms/*_affine.mat
archive.tar.gz
gray_corrected.tif
nohup.out
._gray_corrected.tif
valis_process_s/BFIW_processed/._.DS_Store
valis_process_s/BFIW_processed/.DS_Store
valis_lib
cv_backup
features
213_BFIW
222_BFIW
244_BFIW
213_features.pkl
213_transforms_common.pkl
213_transforms_mask.pkl
213_transforms.pkl
retinex_bbox.avi
rf_trained_pred/retinex/retinex.gif
sitk_combined/registered_volume.nii.gz
sitk_combined/transforms.pkl
ilastik-1.4.1b20-gpu-Linux.tar.1.bz2
segmentation_masks.tar.xz
