cropped_imgs
cropped_imgs_*
valis_process
*.jpg
*.png
.ipynb_checkpoints
*.pyc
**/__pycache__/
**/*.pyc
**/**/.ipynb_checkpoints
cropped.tar.gz
BFIW_original
block_new.tar.gz
block.tar.gz
cufile.log
wandb
train_block_out.tar.gz
rf_model.tl
train_block.tar.gz
flask_session
bfiw_reg/pixel_classifier.pkl
213_BFIW
pixel_classifier.pkl
rf_trained.tar.gz
aff_reg/transforms/*_affine.mat
archive.tar.gz
