<!DOCTYPE html>
<html>

<head>
    <title>Image Viewer</title>
    <style>
        /* Add your custom CSS styles here */
        .floating-button {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 1000;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>

<body>
    <h1>Image Viewer</h1>

    <div class="container">
        <form action="{{ url_for('discard') }}" method="post">
            {% for file_chunk in files %}
                <div class="row g-3 p-2">
                    {% for file in file_chunk %}
                        <div class="col-sm">
                            <div class="card text-center" onclick="toggleCheckbox(event, '{{ file }}')">
                                <div class="card-body">
                                    <img src="http://localhost:8000/{{ file }}" alt="{{ file | replace('.jpg','') }}"
                                        class="card-img-top" style="width: auto; height: 300px;">
                                    <p>
                                    <!-- <h5 class="card-title text-center">{{ file | replace(".jpg", "")}}</h5> -->
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" value="{{ file }}" name="discard"
                                            id="flexSwitchCheckDefault{{ file }}" {% if file in selected_files %}checked{% endif %}>
                                            <label class="form-check-label" for="flexSwitchCheckDefault{{ file }}">{{ file | replace(".jpg", "")}}</label>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button class="btn btn-primary floating-button"  type="submit">Discard Selected Images</button>
        </form>
    </div>

    <script>
        function toggleCheckbox(event, file) {
            // Prevent the form from submitting when clicking on the card
            event.preventDefault();
            // Find the checkbox using the file name
            const checkbox = document.getElementById('flexSwitchCheckDefault' + file);
            // Toggle the checkbox state
            checkbox.checked = !checkbox.checked;
        }
    </script>
</body>

</html>