{% extends 'base.html' %}

{% block title %}Slide Selection Grid{% endblock %}

{% block content %}
    <h1>Select a Slide to Process</h1>
    <div class="row">
        {% for slide in slides %}
        <div class="col-md-2 text-center mb-4">
            <a href="{{ url_for('show_slide', slide_index=loop.index0) }}" class="text-decoration-none">
                <div class="card {% if processed[loop.index0] %}bg-processed {% else %}bg-not-processed{% endif %}">
                    <div class="card-body">
                        <h3>{{ slide }}</h3>
                        {% if processed[loop.index0] %}
                        <p>Processed</p>
                        {% else %}
                    <p>Not Processed</p>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}
